{% extends "base.html" %}

{% block heading %}Login with Facebook{% endblock %}

{% block content %}

  <h4>
    <a href="https://www.facebook.com/dialog/oauth?client_id={{ client_id }}&amp;
  scope={{ scope }}&amp;redirect_uri={{ redirect_uri }}">Login using Facebook</a>
  </h4>

{% endblock %}