{% extends "base.html" %}


{% block content %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
    You successfully logged in as <a href="#" class="alert-link">{{ request.user.email }}</a>.
  </div>
{% endblock %}