.main-container {
    margin-top: 80px;
}

.browse-events {
    margin-right: 15px;
}

.tickets-list {
    margin-top: 30px;
}
.tickets {
    display: inline;
    padding: 0;
}

.ticket {
    list-style: none;
    _width: 85px;
    height: 95px;
    border: 1px solid whitesmoke;
    text-align: center;
}

.ticket-vip{
    _background: ghostwhite;
}

.ticket a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 16px;
    font-size: 36px;
}

.ticket.disabled {
    background: gainsboro;
    cursor: not-allowed;

}
.ticket.disabled a {
    color: #605e5e;
    pointer-events: none;
}

.ticket-color {
    color: #0ce3ac;
}

.ticket-info {
    font-size: 19px;
}