{% extends 'base.html' %}


{% block content %}

  <footer style="margin-top: 80px;">

    <div class="row">
      <div class="col-lg-12">
        <p>Developed by <a href="http://thomaspark.co">Yanik Koval</a></p>
        <p>For <a href="http://www.meetup.com/Bring-Brains-and-Blockchain-to-Ukraine-Lviv-hackathon/events/228059515/">Bring Brains and Blockchain Ukraine</a> HACKATHON</p>
        <p>Powered by <a href="http://python.org">Python</a>, <a href="http://djangoproject.com">Django</a> and
        <a href="https://www.ethereum.org/">Ethereum</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a></p>
      </div>
    </div>

  </footer>

{% endblock %}