{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="jumbotron">
    <h1>Blockchain tickets service</h1>
    <p>The most convenient way to enjoy your favorite group. Without price speculation. Paying minimum fee to re-sellers</p>
{#    <img src="{% static 'img/concert.jpg' %}" alt="">#}
    <p><a class="btn btn-success browse-events" href="{% url 'events:list' %}">Browse Events</a>
      <a class="btn btn-primary" href="{% url 'about' %}">About</a></p>
  </div>

{% endblock %}