<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a href="/" class="navbar-brand">Crypto <i class="fa fa-ticket"></i> Tickets</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'events:list' %}">All Concerts</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.username %}

          {# user logged in #}
          {% if request.user.email %}
            <li><a href="#"><i class="fa fa-user"></i> {{ request.user.email }}</a></li>
          {% else %}
            <li><a href="#"><i class="fa fa-user-secret"></i> {{ request.user.username }}</a></li>
            <li><a href="/admin"><i class="fa fa-cog"></i> Dashboard</a></li>
          {% endif %}

          <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out"></i> logout</a></li>

        {% else %}

          {# user not logged in #}
          <li><a href="{% url 'account:login' %}">Login as User</a></li>
          <li><a href="/admin">Login as Admin</a></li>
        {% endif %}

      </ul>

        </div>
      </div>
    </div>
