{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{% block title %}ETH Crypto Tickets Base{% endblock %}</title>

  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {# Global stylesheets #}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- load jquery in header, since we need it for browseid -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  {% block extra_css %}{% endblock %}
</head>
<body>

    {% include 'includes/header.html' %}

    <div class="container main-container">

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}


  {# Global javascript #}
  </div>

  {% block extra_js %}{% endblock %}
</body>
</html>