{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h1>{{ event.title }}</h1>
    </div>


    <div class="col-md-6">
        <h3 class="text-info">BROOKLYN 42 at {{ event.starting_at }}</h3>

    </div>
  </div>

  {% if tickets %}

    <div class="row tickets-list">
      <div class="col-md-12">

        <ul class="tickets">

        {% for ticket in tickets %}
           <li class="col-md-1 ticket
              {{ ticket.available|yesno:'available, disabled' }}
              {% if ticket.ticket_type == 'VIP' %}ticket-vip{% endif %}">
             <a href="{% url 'events:ticket' ticket.pk %}">{{ ticket.place }}</a>
           </li>
        {% endfor %}

        </ul>

      </div>
    </div>

  {% else %}
    <div class="alert alert-dismissible alert-danger">
      <strong>Sorry!</strong> We don't have alaikable tickets for this event.
</div>
  {% endif %}

{% endblock %}