{% extends 'base.html'  %}
{% load static %}

{% block content %}
  <div class="row">
  {% for event in events %}
      <div class="col-md-3 text-center">
        <img src="{% static 'img/250x250.png' %}" class="img-thumbnail" alt="">
        <h3>{{ event.title }}</h3>
        <p>{% lorem 22 w %}</p>
        <a href="{% url 'events:detail' event.id %}" class="btn btn-primary">Buy Tickets</a>
      </div>
  {% endfor %}
  </div>
{% endblock %}