{% extends 'base.html' %}

{% block content %}
  <h2>Ticket <span class="ticket-color">{{ ticket.place }}</span> for a {{ ticket.event.title }}</h2>
  <div class="row">
    <div class="col-md-4">
      <h4>Ticket Details</h4>
      <dl class="dl-horizontal ticket-info">
        <dt>Price</dt>
        <dd>{{ ticket.price }} <i class="fa fa-eur"></i></dd>

        <dt>Ticket Type</dt>
        <dd>{{ ticket.ticket_type }}</dd>


        <dt>Place Number</dt>
        <dd>{{ ticket.place }}</dd>

        <dt>Event start</dt>
        <dd>{{ ticket.expired }}</dd>

        <dt>Available</dt>
        <dd>{{ ticket.available|yesno:"Yes, No" }}</dd>
      </dl>

      {% if ticket.available %}

        <form action="{% url 'events:ticket_buy'  ticket.id%}" method="POST" class="text-center">
          {% csrf_token %}
          <button class="btn btn-success" type="submit">
            <i class="fa fa-shopping-cart"></i> Buy This Ticket
          </button>
        </form>

      {% else %}
        <div class="alert alert-dismissible alert-danger">
          <strong>Ooops!</strong> Looks like someone already bouth this ticket.
          Brows other tickets or join waiting list.
        </div>
      {% endif %}
    </div>

    <div class="col-md-8">
      <h4>Usage Information</h4>
      {% lorem 1 p %}
      <h4>Returning The Ticket</h4>
      {% lorem 1 p %}
    </div>
  </div>
{% endblock %}